body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #4C4C4C;
    color: #FFFFFF;
    padding: 20px;
  }
  
  header nav ul {
    list-style: none
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
  }
  
  #signup-section {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin: 100px auto;
    width: 500px;
  }
  
  #signup-section h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  #signup-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #signup-section form input[type="text"],
  #signup-section form input[type="email"],
  #signup-section form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  #signup-section form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0072c6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #signup-section form input[type="submit"]:hover {
    background-color: #0065ac;
  }
  
  footer {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
    color: #333;
  }
  