/* Global Styles */

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333333;
	background-color: #f7f7f7;
}

a {
	color: #428bca;
	text-decoration: none;
}

a:hover {
	color: #2a6496;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 10;
	margin-bottom: 0.5rem;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	line-height: 1.2;
	color: #333333;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

/* Navigation Bar */

.navbar {
	margin-bottom: 0;
	background-color: #ffffff;
	border: none;
	border-radius: 0;
}

.navbar-brand {
	padding: 15px 0;
}

.navbar-nav > li > a {
	padding: 15px;
	color: #333333;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
	color: #ffffff;
	background-color: #428bca;
}

/* Jumbotron */

.jumbotron {
	padding: 3rem 2rem;
	margin-bottom: 2rem;
	background-color: #428bca;
	color: #ffffff;
	border-radius: 0;
}

.jumbotron h1 {
	font-size: 4rem;
}

.jumbotron p {
	font-size: 1.5rem;
}

/* Events Section */

.event {
	padding: 4rem 0;
}

.event h2 {
	font-size: 3rem;
	text-align: center;
	margin-bottom: 4rem;
}

.thumbnail {
	background-color: #ffffff;
	border: none;
	border-radius: 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.075);
}

.thumbnail img {
	height: 300px;
	object-fit: cover;
}

.thumbnail .caption {
	padding: 1rem;
}

.thumbnail h3 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.thumbnail p {
	margin-bottom: 1rem;
}

.thumbnail a {
	margin-top: 1rem;
}

/* Footer */

footer {
	padding: 4rem 0;
	background-color: #333333;
	color: #ffffff;
}

footer h4 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

footer p {
	margin-bottom: 1rem;
}

footer i {
	margin-right: 0.5rem;
}

footer a {
	color: #ffffff;
}

footer a:hover {
	color: #428b
}
/* Form Styles */

.form-group {
	margin-bottom: 1rem;
}

.form-group label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: 700;
}

.form-control {
	display: block;
	width: 100%;
	padding: 0.5rem 0.75rem;
	font-size: 1rem;
	line-height: 1.25;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
	border-color: #428bca;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn {
	display: inline-block;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.25;
	color: #ffffff;
	background-color: #428bca;
	border: none;
	border-radius: 0;
	cursor: pointer;
}

.btn:hover,
.btn:focus {
	color: #ffffff;
	background-color: #2a6496;
	border: none;
	outline: none;
}

/* Responsive Styles */

@media (max-width: 575px) {
	.jumbotron h1 {
		font-size: 3rem;
	}
	.jumbotron p {
		font-size: 1.25rem;
	}
	.event h2 {
		font-size: 2rem;
	}
	.thumbnail img {
		height: 200px;
	}
}

@media (max-width: 767px) {
	.navbar-brand {
		display: block;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
	.navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.thumbnail {
		margin-bottom: 2rem;
	}
}

@media (max-width: 991px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.container {
		width: 970px;
	}
}

@media (max-width: 1199px) {
	.container {
		width: 750px;
	}
}
